.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: auto;
  min-width: 0;
  min-height: 0;
}
.box__qMfC {
  display: flex;
  background-color: rgb(22, 128, 185);
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.box__bwfqo {
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  flex-shrink: 0;
}
.box___3YZqk {
  display: block;
  position: relative;
  background-color: rgba(68, 192, 255, 0.2);
  width: 20%;
  height: 100%;
  min-height: 0;
}
.box__s6T00 {
  display: flex;
  position: relative;
  width: 20%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 0;
}
.box___5HyJz {
  position: relative;
  color: rgb(255, 255, 255);
}
.box___2A31E {
  display: flex;
  position: relative;
  width: 20%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 0;
}
.box__gx9N5 {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  color: rgb(255, 255, 255);
  display: inline-block;
}
.box__hcJiy {
  display: flex;
  position: relative;
  width: 20%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 0;
}
.box__afGpq {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  color: rgb(255, 207, 0);
  display: inline-block;
}
.box__jzNwm {
  display: flex;
  position: relative;
  width: 100%;
  height: 150px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
}
.box__sUxck {
  display: inline-flex;
  position: relative;
  width: auto;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  min-height: 0;
  padding: 50px;
}
@media (min-width: 0px) and (max-width: 500px) {
  .box__sUxck {
    padding: 10px;
  }
}
.box__blS0A {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 40px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  display: inline-block;
}
@media (min-width: 0px) and (max-width: 500px) {
  .box__blS0A {
    font-size: 30px;
  }
}
.box__pJmQ0 {
  display: flex;
  position: relative;
  width: 100%;
  height: 150px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
}
.box___4JcHq {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  min-width: 0;
  min-height: 0;
  padding: 50px;
}
@media (min-width: 0px) and (max-width: 500px) {
  .box___4JcHq {
    padding: 5px;
  }
}
.box__ud45A {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  text-align: center;
  display: inline-block;
}
.box__mXOoy {
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;
  flex-direction: row;
  min-width: 0;
  flex-shrink: 0;
}
.box__f4W0I {
  position: relative;
  width: 708px;
  height: 53px;
  flex-shrink: 0;
}
.box__dDg6Z {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
  padding: 40px;
}
.box__rJ9Pa {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  width: 100%;
  min-width: 0;
}
.box__rJ9Pa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box__rJ9Pa > :global(.__wab_flex-container) > *,
.box__rJ9Pa > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
.box__aalCg {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.box__zp7Tb {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  display: inline-block;
}
.box___6ZAyd {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.box__bOl60 {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  display: inline-block;
}
.box__i7Qmc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.box__nK8Nk {
  position: relative;
  width: auto;
  height: auto;
  text-align: left;
  align-self: center;
  display: inline-block;
}
.box__amZap {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.box__f5IvT {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  display: inline-block;
}
.box___6E6TK {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0.2);
  width: 100%;
  height: auto;
  flex-direction: row;
  min-width: 0;
}
.box__fw4Nr {
  display: block;
  position: relative;
  background-color: rgb(220, 220, 220);
  width: 30%;
  height: 500px;
  left: auto;
  top: auto;
}
.box___1WBg4 {
  display: block;
  position: relative;
  background-color: rgba(68, 192, 255, 0.2);
  width: 70%;
  height: 100%;
  left: auto;
  top: auto;
  min-height: 0;
}
.box___0Ycfw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgb(239, 239, 239);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.box__pmhhl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.box__mrrwV {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  min-width: 0;
  margin: 0px;
}
.box__nVrS7 {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
.box__euxhe {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 100px;
  color: rgb(63, 63, 63);
  display: inline-block;
}
.box__e8Pmg {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  left: auto;
  top: auto;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 20px;
}
.box__kwCb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.box__j4Uda {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  text-align: center;
  color: rgb(63, 63, 63);
  font-weight: 800;
  font-family: "Open Sans";
  display: inline-block;
}
.box__zCwy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.box__qfRfk {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  color: rgb(63, 63, 63);
  font-family: "Open Sans";
  text-align: center;
  display: inline-block;
}
.box__gw4Q6 {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.box__yR4X {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 100px;
  color: rgb(63, 63, 63);
  display: inline-block;
}
.box__iaPpv {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  width: 100%;
  min-width: 0;
}
.columns__qXjr9 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__qXjr9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.columns__qXjr9 > :global(.__wab_flex-container) > *,
.columns__qXjr9 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 500px) {
  .columns__qXjr9 {
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  .columns__qXjr9 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  .columns__qXjr9 > :global(.__wab_flex-container) > *,
  .columns__qXjr9 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.column__fkF3 {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 500px) {
  .column__fkF3 {
    width: auto;
  }
}
.img__afCjz {
  position: relative;
  object-fit: cover;
  width: 250px;
}
.column__m89JG {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 500px) {
  .column__m89JG {
    width: auto;
  }
}
.box__g96J {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 0;
  padding: 10px;
}
.box__dZn2D {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-weight: 700;
  display: inline-block;
}
.box__xDJ5 {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-weight: 500;
  display: inline-block;
}
.box__q1NYj {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  display: inline-block;
}
.box__lieuf {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  display: inline-block;
}
.columns__nDjCv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__nDjCv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.columns__nDjCv > :global(.__wab_flex-container) > *,
.columns__nDjCv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 500px) {
  .columns__nDjCv {
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  .columns__nDjCv > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  .columns__nDjCv > :global(.__wab_flex-container) > *,
  .columns__nDjCv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.column___1Gmy {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 500px) {
  .column___1Gmy {
    width: auto;
  }
}
.img__izWq0 {
  position: relative;
  object-fit: cover;
  width: 300px;
  height: 280px;
  flex-shrink: 0;
}
.column__igEh {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 500px) {
  .column__igEh {
    width: auto;
  }
}
.box__wC07 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 0;
  padding: 10px;
}
.box___2Dpe {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-weight: 700;
  display: inline-block;
}
.box___6VyWr {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-weight: 500;
  display: inline-block;
}
.box___4O55A {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  display: inline-block;
}
.box__zzAry {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  display: inline-block;
}
.columns__dMon {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__dMon > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.columns__dMon > :global(.__wab_flex-container) > *,
.columns__dMon > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 500px) {
  .columns__dMon {
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  .columns__dMon > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  .columns__dMon > :global(.__wab_flex-container) > *,
  .columns__dMon > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.column__rfSEp {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
@media (min-width: 0px) and (max-width: 500px) {
  .column__rfSEp {
    width: auto;
  }
}
.box___3Ukg {
  display: flex;
  position: relative;
  background-color: rgb(239, 239, 239);
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 0;
  min-height: 0;
  padding: 20px;
  margin: 0px;
}
.box__lxTcI {
  display: inline-flex;
  position: relative;
  width: auto;
  height: 37px;
  left: auto;
  top: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
}
.box__i0GN {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  display: inline-block;
}
.box__hKn7E {
  display: inline-flex;
  position: relative;
  width: auto;
  height: 37px;
  left: auto;
  top: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
}
.box__qnoVz {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  color: rgb(22, 128, 185);
  display: inline-block;
}
.box__dTqYr {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.box__r0ObH {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  display: inline-block;
}
.box__cq5F6 {
  display: block;
  position: relative;
  width: 509px;
  height: 43px;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.box__lweCk {
  display: inline-flex;
  position: relative;
  width: auto;
  height: 70px;
  flex-direction: row;
  flex-shrink: 0;
}
.box__ww1Tp {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  display: inline-block;
}
.column__bmYjc {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
@media (min-width: 0px) and (max-width: 500px) {
  .column__bmYjc {
    width: auto;
  }
}
.box__xa5Kg {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 128, 185);
  min-width: 0;
  min-height: 0;
  padding: 10px;
  margin: 0px;
}
.box__efZbi {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
.box__sTz3X {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 100px;
  color: rgb(255, 255, 255);
  display: inline-block;
}
.box__abYkW {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  left: auto;
  top: auto;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 20px;
}
.box___76Msz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.box__syiE3 {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-family: "Open Sans";
  display: inline-block;
}
.box___4Ls7K {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.box__xvgMs {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  text-align: center;
  display: inline-block;
}
.box___6S3Nk {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.box___8AJbP {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 100px;
  color: rgb(255, 255, 255);
  display: inline-block;
}
.box__h1Be {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  background-color: rgb(63, 63, 63);
  flex-direction: row;
  min-width: 0;
  flex-shrink: 0;
}
